/* Magazine experience specific layout touches on top of shared base.css */

body[data-experience=\"magazine\"] .magazine-shelf {
  align-items: stretch;
}

body[data-experience=\"magazine\"] .magazine-tile h2 {
  margin: 0;
}
